@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://fonts.cdnfonts.com/css/beyonders');

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Beyonders', sans-serif;
}

.sticky{
	position: sticky;
	top: 0;
	background-color: #1f2029;
	color: #c4c3ca;
}

.navbar .dropdown {
	position: static !important; /* keeps menus from being absolutely positioned */
	font-family: 'Beyonders', sans-serif;
}

.navbar .dropdown-menu {
	width: 100% !important;
	left: 0;
	right: 0;
	margin: 0 !important;
	border: 0 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	background-color: #f8f9fa !important;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all 0.3s ease;
}

.navbar .dropdown-menu.show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}