<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - PitCWRU</title>
      {% else %}
      <title>PitCWRU</title>
      {% endif %}
      <!-- Bootstrap CSS -->
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
      >
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
      <!-- Global Stylesheet -->
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
       

       {% block styles %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">PitCWRU</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Races
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Action2</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Drivers
                  </a>
                  <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="#">Action</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Constructors
                  </a>
                  <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown3">
                    <a class="dropdown-item" href="#">Action</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        {# <div class="sticky">
          F1 Data Site:
          <a href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
          <a href="{{ url_for('logout') }}">Logout</a>
          <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
          <a href="{{ url_for('driver_standings') }}">Driver Standings</a>
          <form id="optionForm">
            <select id="raceSelect" onchange="navigateRaces()" style="display: inline; margin-left: 20px;">
              <option value="">2025 Schedule</option>
              {% for r in races %}
                <option value="{{ r.replace(' ','%20') }}" {% if request.args.get('race') == r|string %}selected{% endif %}>{{ r }}</option>
              {% endfor %}
            </select>
          </form>
          <form id="optionForm">
            <select id="driverSelect" onchange="navigateDrivers()" style="display: inline; margin-left: 20px;">
              <option value="">2025 Drivers</option>
              {% for driver in drivers.keys() %}
                <option value="{{ driver }}" {% if request.args.get('drivers') == driver|string %}selected{% endif %}>{{ drivers[driver] }}</option>
              {% endfor %}
            </select>
          </form>
          {% endif %}
        </div> #}
        {# <script>
          function navigateRaces() {
            const value = document.getElementById("raceSelect").value;
            if (value) {
              window.location.href = `/race?season=current&race=${value}`;
            }
          }
        </script>
        <script>
          function navigateDrivers() {
            const value = document.getElementById("driverSelect").value;
            if (value) {
              window.location.href = `/drivers/${value}`;
            }
          }
        </script> #}
          
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <!-- Bootstrap JS (with Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>