{% extends "base.html" %}

{% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
  }
  th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center; 
    vertical-align: middle;
  }
  th {
    background-color: #f2f2f2;
  }
  h1 {
    text-align: center;
  }
</style>

<h1>{{ year }} Driver Standings</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Driver</th>
      <th>Nationality</th>
      <th>Constructor</th>
      <th>Chassis</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {% for standing in standings %}
    <tr valign="top">
      <td>{{ standing['position'] }}.</td>
      <td>{{ standing['Driver']['givenName'] }} {{ standing['Driver']['familyName'] }}</td>
      <td><img src="static/media/flags/{{ standing['Driver']['nationality'].lower().replace(' ', '_') }}.png" width="50"></td>
      <td>{{ standing['Constructors'][0]['name'] }}</td>
      <td><img src="static/media/cars/{{ standing['Constructors'][0]['name'].lower().replace(' ', '_') }}_2025.png" width="175"></td>
      <td>{{ standing['points'] }} (-{{ standings[0]['points']|int - standing['points']|int }})</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
