{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <title>Telemetry Comparison</title>
        <div class="row vh-100 overflow-hidden">
            <div class="col col-xs-3">
                <h5 class="text-center">Race/Driver Selection</h5>
            
                <h6 class="text-center">Telemetry Comparison</h6>
                <form id="theForm" action="/get_telemetry" method="get">
                    <div class="mb-3">
                        <label for="race">Select Race:</label>
                        <select id="race" class="form-select" name="raceId">
                            <option value="" disabled selected>Select a race</option>
                            {% for race in races %}
                                <option value="{{ race }}" {% if request.args.get('race') == r|string %}selected{% endif %}>{{ race }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="session">Session:</label>
                        <select class="form-select" id="session">
                            <option disabled selected>TODO</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="driver1">Driver 1:</label>
                        <select class="form-select" id="driver1" name="driver1">
                            <option disabled selected>Select a race first</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="driver2">Driver 2:</label>
                        <select class="form-select" id="driver2" name="driver2">
                            <option disabled selected>Select a race first</option>
                        </select>
                    </div>

                    <div class="text-center mb-3">
                        <button class="btn btn-success" type="submit">Show Telemetry</button>
                    </div>
                </form>
                <pre id="result"></pre>
            </div>
            <div class="vr p-0"></div>
            <div class="col col-9 overflow-y-auto overflow-x-hidden" id="resultArea" style="height:100%">
                <div class="row">
                    <div class="text-center p-3" id="datalabel">

                    </div>
                    <div class="col col-4 text-center" id="driver1Div">

                    </div>
                    <div class="col col-4" id="trackDominance">

                    </div>
                    <div class="col col-4 text-center" id="driver2Div">

                    </div>
                </div>
                <div id="plotDiv">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% raw %}
<script>
    $('#race').on('change', function () {
        loadDrivers();
    });
    async function loadDrivers() {
        const raceId = document.getElementById('race').value;
        const response = await fetch(`/load_drivers?raceId=${raceId}`);
        const drivers = await response.json();

        const driver1 = document.getElementById('driver1');
        const driver2 = document.getElementById('driver2');
        driver1.innerHTML = '';
        driver2.innerHTML = '';

        drivers.forEach(d => {
            const fullName = `${d.givenName} ${d.familyName}`;
            const code = d.code;

            driver1.add(new Option(fullName, code));
            driver2.add(new Option(fullName, code));
        });
    }

    $('#theForm').on('submit', function(e){
        e.preventDefault();
        let $form = $(this);
        $('#datalabel').html('<div class="text-center p-3"><div class="spinner-border" role="status"></div></div>');
        $.ajax({
            url: $form.attr('action'),
            method: $form.attr('method'),
            data: $form.serialize(),
            success: function(response){
                $('#datalabel').html(`
                    <h2 class="text-center">${response.racename} Qualifying:</h2><br>
                    <h3 class="text-center">${response.driver1_name} VS ${response.driver2_name}</h3>
                `)
                $('#driver1Div').html(`
                    <img class="telemDriver" src="/static/media/drivers/${response.driver1_id}_full.avif" alt="Left top">
                    <img class="telemLogo" src="/static/media/constructors/${response.con1}.png" alt="Left top">
                    <img src="/static/media/cars/${response.con1}_2025.png" alt="Left bottom" width="100%">
                `);
                $('#driver2Div').html(`
                    <img class="telemLogo" src="/static/media/constructors/${response.con2}.png" alt="Left top">
                    <img class="telemDriver" src="/static/media/drivers/${response.driver2_id}_full.avif" alt="Left top">
                    <img class="telemRotateCar" src="/static/media/cars/${response.con2}_2025.png" alt="Left bottom" width="100%">
                `);
                $('#trackDominance').html(`
                    <img src="${response.track_dominance}" width="100%" style="vertical-align: bottom;">
                `);
                let fig = JSON.parse(response.graph);
                Plotly.newPlot("plotDiv", fig.data, fig.layout);
            },
            error: function(){
                $('#datalabel').html('<div class="alert alert-danger">Error loading content.</div>');
            }
        });
        
        //setTimeout(function() {
        //    Plotly.Plots.resize($("#resultArea .plotly-graph-div")[0]);
        //}, 100);
    });
</script>
{% endraw %}
{% endblock %}