{% extends "base.html" %}

{% block content %}
    <h2>Race/Driver Selection</h2>

        <title>Telemetry Comparison</title>
        <script>
            async function loadDrivers() {
                const raceId = document.getElementById('race').value;
                const response = await fetch(`/load_drivers?raceId=${raceId}`);
                const drivers = await response.json();

                const driver1 = document.getElementById('driver1');
                const driver2 = document.getElementById('driver2');
                driver1.innerHTML = '';
                driver2.innerHTML = '';

                drivers.forEach(d => {
                    const fullName = `${d.givenName} ${d.familyName}`;
                    const code = d.code;

                    driver1.add(new Option(fullName, code));
                    driver2.add(new Option(fullName, code));
                });
            }

            async function getTelemetry() {
                const raceId = document.getElementById('race').value;
                const driver1 = document.getElementById('driver1').value;
                const driver2 = document.getElementById('driver2').value;

                window.location.href = `/get_telemetry?raceId=${raceId}&driver1=${driver1}&driver2=${driver2}`;

                // const data = await response.json();

                // document.getElementById('result').textContent = JSON.stringify(data, null, 2);
            }

            
        </script>
  
    <h2>Telemetry Comparison</h2>

    <label for="race">Select Race:</label>
    <select id="race" onchange="loadDrivers()">
        <option value="">-- Select a race --</option>
        {% for race in races %}
            <option value="{{ race }}" {% if request.args.get('race') == r|string %}selected{% endif %}>{{ race }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label for="driver1">Driver 1:</label>
    <select id="driver1"></select>

    <label for="driver2">Driver 2:</label>
    <select id="driver2"></select>

    <br><br>
    <button onclick="getTelemetry()">Show Telemetry</button>

    <pre id="result"></pre>
{% endblock %}